@model YQ.Cashier.Domain.Entites.CardType
@{
    Layout = "~/Views/Shared/_BasicListPage.cshtml";
    ViewBag.Title = "Card type";
    ViewBag.GetListUrl = "/BasicData/GetCardTypes";
    ViewBag.SaveUrl = "/BasicData/SaveCardType";
    ViewBag.DeleteUrl = "/BasicData/DeleteCardType";
}

@section form{
    <form class="form-horizontal" id="editform">
        <div class="form-group">
            <label for="TypeName" class="col-xs-12 col-sm-3 control-label no-padding-right">Card type name</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.TypeName, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.TypeName)
        </div>
        <div class="form-group">
            <label for="OpenAmount" class="col-xs-12 col-sm-3 control-label no-padding-right">Open amount</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.OpenAmount, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.OpenAmount)
        </div>
        <div class="form-group">
            <label for="ChargeAmount" class="col-xs-12 col-sm-3 control-label no-padding-right">Charge amount</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.ChargeAmount, new { @class = "width-100", type = "number", min = 0 })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.ChargeAmount)
        </div>
        <div class="form-group">
            <label for="BonusAmount" class="col-xs-12 col-sm-3 control-label no-padding-right">Bonus amount</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.PresentAmount, new { @class = "width-100", type = "number", min = 0 })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.PresentAmount)
        </div>
        <div class="form-group">
            <label for="CreditAmount" class="col-xs-12 col-sm-3 control-label no-padding-right">Credit amount</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.OverDraftAmount, new { @class = "width-100", type = "number", min = 0 })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.OverDraftAmount)
        </div>
        <div class="form-group">
            <label for="Discount" class="col-xs-12 col-sm-3 control-label no-padding-right">Discount</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.Discount, new { @class = "width-100", type = "number", min = 0 })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Discount)
        </div>
        <div class="form-group">
            <label for="UsableTime" class="col-xs-12 col-sm-3 control-label no-padding-right">Usable Days</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.UsableTime, new { @class = "width-100", type = "number", min = 0 })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.UsableTime)
        </div>
        <div class="form-group">
            <label for="Description" class="col-xs-12 col-sm-3 control-label no-padding-right">Description</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextAreaFor(m => m.Description, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        @Html.HiddenFor(m => m.CardTypeId)
        @Html.HiddenFor(m => m.CreateTime)
        @Html.HiddenFor(m => m.CreateUserId)
    </form>
}
@section init_scripts{
    <script>
        window.emptyData=@Html.Raw(new YQ.Cashier.Domain.Entites.CardType()
                    .ToJson(nullValue: Newtonsoft.Json.NullValueHandling.Include));
        window.colModel = [
            { name: 'act', label: "Actions", index: 'act', width: 150, align: "center", sortable: false },
            { name: 'CardTypeId', label: "Id", width: 80, align: "center",hidden:true },
            { name: 'TypeName', label: "Type name", width: 200 },
            { name: 'Discount', label: "Discount", width: 80 },
            { name: 'OpenAmount', label: "Open amount", width: 120 },
            { name: 'ChargeAmount', label: "Charge amount", width: 120 },
            { name: 'OverDraftAmount', label: "OverDraft amount", width: 120 },
            { name: 'PresentAmount', label: "Present amount", width: 120 },
            { name: 'UsableTime', label:"Usable Days", width:80 },
            { name: 'Description', label: "Description", width: 120 },
            { name: 'CreateTime', label: "CreateTime", hidden:true }
        ];
        window.init = function () {
            $LAB.script(js("validate"));
        }
    </script>
}
