@model YQ.Cashier.Domain.Entites.Supplier
    @{
        Layout = "~/Views/Shared/_BasicListPage.cshtml";
        ViewBag.Title = "Supplier info";
        ViewBag.GetListUrl = "/BasicData/GetSuppliers";
        ViewBag.SaveUrl = "/BasicData/SaveSupplier";
        ViewBag.DeleteUrl = "/BasicData/DeleteSupplier";
    }
    @section form{
        <form class="form-horizontal" id="editform">
            <div class="form-group">
                <label for="SupplierId" class="col-xs-12 col-sm-3 control-label no-padding-right">
                    @this.T("Id")
                </label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.SupplierId, new { type="number", @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.SupplierId)
            </div>
            <div class="form-group">
                <label for="CompanyName" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Company name")</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.CompanyName)
            </div>
            <div class="form-group">
                <label for="Contact" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Contact")</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.Contact, new { @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.Contact)
            </div>
            <div class="form-group">
                <label for="Phone" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Phone")</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.Phone, new {type="tel", @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.Phone)
            </div>
            <div class="form-group">
                <label for="Address" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Address")</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.Address, new { @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.Address)
            </div>
            <div class="form-group">
                <label for="Bank" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Bank")</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.Bank, new { @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.Bank)
            </div>
            <div class="form-group">
                <label for="BankAccountMan" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("BankAccountMan")</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.BankAccountMan, new { @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.BankAccountMan)
            </div>
            <div class="form-group">
                <label for="BankAccount" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("BankAccount")</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.BankAccount, new { @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.BankAccount)
            </div>
            <div class="form-group">
                <label for="Remark" class="col-xs-12 col-sm-3 control-label no-padding-right">Remark</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        @Html.TextAreaFor(m => m.Remark, new { @class = "width-100" })
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.Remark)
            </div>
            @Html.HiddenFor(m => m.CreateTime)
            @Html.HiddenFor(m => m.CreateUserId)
        </form>
    }
    @section init_scripts{
        <script>
            window.emptyData=@Html.Raw(new YQ.Cashier.Domain.Entites.Supplier()
                    .ToJson(nullValue: Newtonsoft.Json.NullValueHandling.Include));
            window.colModel = [
                { name: 'act', label: "Actions", index: 'act', width: 150, align: "center", sortable: false },
                { name: 'SupplierId', label: "Id", width: 80, align: "center", hidden:true },
                { name: 'CompanyName', label: "Company name", width: 200 },
                { name: 'Contact', label: "Contact", width: 100 },
                { name: 'Phone', label: "Phone", width: 100 },
                { name: 'Address', label: "Address", hidden: true },
                { name: 'Bank', label: "Bank", hidden: true },
                { name: 'BankAccountMan', label: "BankAccountMan", hidden: true},
                { name: 'BankAccount', label: "BankAccount", hidden: true},
                { name: 'Remark', label: "Remark", hidden: true},
                { name: 'CreateUserId', label: "CreateUserId", hidden: true},
                { name: 'CreateTime', label: "CreateTime", hidden: true},
            ];
        </script>
    }