@model YQ.Cashier.Domain.Entites.ProductBrand
@{
    Layout = "~/Views/Shared/_BasicListPage.cshtml";
    ViewBag.Title = "Card type";
    ViewBag.GetListUrl = "/BasicData/GetProductBrands";
    ViewBag.SaveUrl = "/BasicData/SaveProductBrand";
    ViewBag.DeleteUrl = "/BasicData/DeleteProductBrand";
}

@section form{
    <form class="form-horizontal" id="editform">
        <div class="form-group">
            <label for="Name" class="col-xs-12 col-sm-3 control-label no-padding-right">Name</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.Name, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            <label for="Logo" class="col-xs-12 col-sm-3 control-label no-padding-right">Logo</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextAreaFor(m => m.Logo, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Logo)
        </div>
        @Html.HiddenFor(m => m.ProductBrandId)
        @Html.HiddenFor(m => m.CreateTime)
        @Html.HiddenFor(m => m.CreateUserId)
    </form>
}
@section init_scripts{
    <script>
        window.emptyData=@Html.Raw(new YQ.Cashier.Domain.Entites.ProductBrand()
                    .ToJson(nullValue: Newtonsoft.Json.NullValueHandling.Include));
        window.colModel = [
                    { name: 'act', label: "Actions", index: 'act', width: 150, align: "center", sortable: false },
                    { name: 'ProductBrandId', label: "Id" },
                    { name: 'Name', label: "Name" },
                    { name: 'Logo', label: "Logo" },
                    {
                        name: 'CreateTime', label: "Creation time", hidden:true, align: "center", formatter: "date",
                        formatoptions: { srcformat: "ISO8601Long", newformat: "m/d/Y H:i A" },
                    },
        ];
    </script>
}
