@model YQ.Cashier.Domain.Entites.Warehouse
@{
    Layout = "~/Views/Shared/_BasicListPage.cshtml";
    ViewBag.Title = "Warehouse info";
    ViewBag.GetListUrl = "/BasicData/GetWarehouses";
    ViewBag.SaveUrl = "/BasicData/SaveWarehouse";
    ViewBag.DeleteUrl = "/BasicData/DeleteWarehouse";
}
@section form{
    <form class="form-horizontal" id="editform">
        <div class="form-group">
            <label for="WarehouseId" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Id")</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.Name, new { type = "number", @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.WarehouseId)
        </div>
        <div class="form-group">
            <label for="Name" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Warehouse name")</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.Name, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            <label for="Head" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Head")</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.Head, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Head)
        </div>
        <div class="form-group">
            <label for="Phone" class="col-xs-12 col-sm-3 control-label no-padding-right">@this.T("Phone")</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
        <div class="form-group">
            <label for="Remark" class="col-xs-12 col-sm-3 control-label no-padding-right">Remark</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextAreaFor(m => m.Remark, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Remark)
        </div>
        @Html.HiddenFor(m => m.CreateTime)
        @Html.HiddenFor(m => m.CreateUserId)
    </form>
}
@section init_scripts{
    <script>
        window.emptyData=@Html.Raw(new YQ.Cashier.Domain.Entites.Warehouse()
                    .ToJson(nullValue: Newtonsoft.Json.NullValueHandling.Include));
        window.colModel = [
            { name: 'act', label: "Actions", index: 'act', width: 150, align: "center", sortable: false },
            { name: 'WarehouseId', label: "Id", width: 80, align: "center", hidden:true },
            { name: 'Name', label: "Name", width: 200 },
            { name: 'Head', label: "Head", width: 100 },
            { name: 'Phone', label: "Phone", width: 100 },
            { name: 'Remark', label: "Note", width: 200 },
        ];
    </script>
}