@model YQ.Cashier.Domain.Entites.ScheduleType
@{
    Layout = "~/Views/Shared/_BasicListPage.cshtml";
    ViewBag.Title = "Schedule type";
    ViewBag.GetListUrl = "/BasicData/GetScheduleTypes";
    ViewBag.SaveUrl = "/BasicData/SaveScheduleType";
    ViewBag.DeleteUrl = "/BasicData/DeleteScheduleType";
}
@section form{
    <form class="form-horizontal" id="editform">
        <div class="form-group">
            <label for="Name" class="col-xs-12 col-sm-3 control-label no-padding-right">Channel name</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextBoxFor(m => m.Name, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            <label for="Note" class="col-xs-12 col-sm-3 control-label no-padding-right">Note</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    @Html.TextAreaFor(m => m.Note, new { @class = "width-100" })
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Note)
        </div>
        @Html.HiddenFor(m => m.ScheduleTypeId)
        @Html.HiddenFor(m => m.CreateTime)
        @Html.HiddenFor(m => m.CreateUserId)
    </form>
}
@section init_scripts{
    <script>
        window.emptyData=@Html.Raw(new YQ.Cashier.Domain.Entites.ScheduleType()
                    .ToJson(nullValue: Newtonsoft.Json.NullValueHandling.Include));
        window.colModel =  [
                    { name: 'act', label: "Actions", index: 'act', width: 150, align: "center", sortable: false },
                    { name: 'Name', label: "Name", width: 200 },
                    { name: 'Note', label: "Note", width: 300 },
                    {
                        name: 'CreateTime', label: "Creation time", hidden:true, align: "center", formatter: "date",
                        formatoptions: { srcformat: "ISO8601Long", newformat: "m/d/Y H:i A" },
                    },
                    { name: 'ScheduleTypeId', hidden: true },
        ];
    </script>
}
