@model YQ.Cashier.Domain.Entites.Customer
@{
    ViewBag.Title = "CustomerEdit";
}

<div class="modal fade mymodal in" id="publicmodal" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"><span class="fa fa-plus"></span>修改顾客资料</h4>
                </div>
                <div class="modal-body form-horizontal">
                    @Html.HiddenFor(m => m.CustomerId);
                    @Html.HiddenFor(m => m.CreateTime);
                    @Html.HiddenFor(m => m.CreateUserId);
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Name">@this.T("Customer Name")</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "width-80" });
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="PinYinShortCode">拼音简码</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">
                                        <input class="width-80" id="PinYinShortCode" name="PinYinShortCode" type="text" value="3213131">
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-12 inline col-sm-offset-3">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-for="PinYinShortCode" data-valmsg-replace="true"></span></b></mark>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Phone">手机号码</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">
                                        <input class="width-80" id="Phone" name="Phone" type="text" value="1212">
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-12 inline col-sm-offset-3">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span></b></mark>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Sex">性别</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">
                                        <label style="margin:0 0 0 10px;"> <input routecollection="System.Web.Routing.RouteCollection" viewbag="System.Web.Mvc.DynamicViewDataDictionary" viewcontext="System.Web.Mvc.ViewContext" viewdata="System.Web.Mvc.ViewDataDictionary`1[MRSoft.Site.Models.Member.MemberInfoModel]" viewdatacontainer="ASP._Page_Views_MemberCardChange_ChangeMemberInfo_cshtml" checked="checked" id="Sex" name="Sex" type="radio" value="Woman">  女</label><label style="margin:0 0 0 10px;"> <input routecollection="System.Web.Routing.RouteCollection" viewbag="System.Web.Mvc.DynamicViewDataDictionary" viewcontext="System.Web.Mvc.ViewContext" viewdata="System.Web.Mvc.ViewDataDictionary`1[MRSoft.Site.Models.Member.MemberInfoModel]" viewdatacontainer="ASP._Page_Views_MemberCardChange_ChangeMemberInfo_cshtml" id="Sex" name="Sex" type="radio" value="Man">  男</label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Birthday">生日</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">

                                        <input class="width-80" id="Birthday_Text" name="Birthday_Text" placeholder="点击选择日期" readonly="readonly" type="text" value="">

                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="IDCardNumber">身份证号码</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">
                                        <input class="width-80" data-val="true" data-val-length="字段 IDCardNumber 必须是最大长度为 100 的字符串。" data-val-length-max="100" id="IDCardNumber" name="IDCardNumber" placeholder="请输入身份证号码" type="text" value="">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="CarNumber">车&nbsp;&nbsp;牌&nbsp;&nbsp;号</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">
                                        <input class="width-80" id="CarNumber" name="CarNumber" type="text" value="">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Birthday">介绍人</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="block">
                                        <input id="IntroducerName" name="IntroducerName" readonly="readonly" type="text" value="">                                <button type="button" id="selectmember" class="btn btn-success btn-xs">选择</button>
                                        <button type="button" id="deletemember" class="btn btn-danger btn-xs" style="display: none">清空</button>
                                        <input data-val="true" data-val-required="IntroducerId 字段是必需的。" id="IntroducerId" name="IntroducerId" type="hidden" value="00000000-0000-0000-0000-000000000000">                                <label style="color: red">注：介绍人保存后将不能修改</label>
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-12 inline col-sm-offset-3">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-for="IntroducerName" data-valmsg-replace="true"></span></b></mark>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">保存</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">关闭</button>
                </div>
            </form><div class="modal-dialog" style="position: absolute; top: -30px; border: 0; z-index: 200;" id="searchMember">
                <div class="modal-content" id="changememberinfo-content">
                </div>
            </div>
            <script src="/Scripts/croppic/croppic.js"></script>
            <script type="text/javascript">
                $(function () {
                    getChineseSpell('Name', 'PinYinShortCode');
                    uploadPictureInit();
                });

                $("#selectmember").click(function () {
                    var memberId = $("#Id").val();
                    $.get("/OpenCard/SelectIntroducer", { "memberId": memberId }, function (data) {
                        $("#changememberinfo-content").html(data);
                        $("#memberinfomodal").modal({
                            keyboard: false,
                            backdrop: false,
                            show: true
                        });
                    });
                });
                $("#deletemember").click(function () {
                    $("#IntroducerName").val("");
                    $("#IntroducerId").val("00000000-0000-0000-0000-000000000000");
                    introducerstatus(true);
                });

                function memberinfoModalClose() {
                    $('#memberinfomodal').modal('hide');
                    $("#changememberinfo-content").html('');
                }
                function selectintroducer(id, name) {
                    $("#IntroducerName").css("width", "47%");
                    $("#IntroducerId").val(id);
                    $("#IntroducerName").val(name);
                    memberinfoModalClose();
                    introducerstatus(false);
                }

                function introducerstatus(status) {
                    if (status) {
                        $("#selectmember").text("选择");
                        $("#deletemember").fadeOut();
                        $("#IntroducerName").css("width", "64%");
                    }
                    else {
                        $("#selectmember").text("修改");
                        $("#deletemember").fadeIn();
                    }
                }

            </script>
        </div>
    </div>
</div>
