@{
    ViewBag.Title = "InStock"; //入库开单
    Layout = "~/Views/Inventory/_StockLayout.cshtml";
    ViewBag.SaveUrl = "/Inventory/InStock";
}
@section header{
    <div class="row">
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-5 control-label no-padding-right" for="ProviderName">@this.T("Provider name")</label>
                <div class="col-xs-12 col-sm-7 no-padding-right">
                    <span class="block">
                        <select name="ProviderId" id="ProviderId">
                            <option selected="selected" value="0">@this.T("Please select")</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-6 control-label no-padding-right" for="WarehouseName">@this.T("Warehouse name")</label>
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <span class="block">
                        <select name="WarehouseId" id="WarehouseId" data-val-required="WarehouseId 字段是必需的。" data-val="true">
                            <option value="1">@this.T("Store warehouse")</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="EmployeeName">@this.T("Operator")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <select name="EmployeeId" id="EmployeeId">
                            <option selected="selected" value="0">@this.T("Please select")</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="BillDate">@this.T("Bill date")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input name="BillDate" class="form-control width-80 form_datetime" id="BillDate" type="text">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark>
                        <b>
                            <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="BillDate"></span>
                        </b>
                    </mark>
                </div>
            </div>
        </div>
    </div>
}
@section footer{
    <div class="row">
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="ProductMoney">@this.T("Storage amount")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input name="ProductMoney" id="ProductMoney" type="text" readonly="true" value="0">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="ManualCode">Code</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input class="form-control" name="ManualCode" id="ManualCode" type="text">
                    </span>
                </div>
                @*@Html.ValidationMessageFor(m=>m.Code)*@
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="Remark">@this.T("Remark")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input class="form-control" name="Remark" id="Remark" type="text">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span></b></mark>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <button type="button" class="btn btn-primary btn-sm no-border" id="btn_save" data-form="#editform">
                <i class="fa fa-floppy-o"></i> Save
            </button>
        </div>
    </div>
}
@section scripts{
    <script>
        var $grid, $grid_product;
        var formatOptions = @Html.Raw(ViewBag.formatOptions);
        $LAB.script(js("datepicker")).wait(function () {
            $("#BillDate").datepicker({ autoclose: true });
        }).script(js("jqgrid")).wait(function () {
            $grid_product = initJqGrid("#product_list", {
                cellEdit: true,
                pager: null,
                height: 'auto',
                datatype: 'local',
                colModel:  [
                    { name: 'act', label: "Actions", index: 'act', width: 100, align: "center", sortable: false },
                    { name: 'Id', hidden: true },
                    { name: 'Name', label: "Name", width: 180 },
                    { name: 'Unit', label: "Unit", editable: true, formatter: "select", editoptions: formatOptions.unit },
                    { name: 'Specification', label: "Specification", width: 180 },
                    { name: 'Price', label: 'Price', editable: true, formatter: "currency", formatoptions: {
                        thousandsSeparator: ",", decimalSeparator: ".", prefix: "$" } },
                    { name: 'Amount', label: "Amount", editable: true, formatter: "number" },
                    { name: 'Money', label: "Money", formatter: "currency", formatoptions: {
                        thousandsSeparator: ",", decimalSeparator: ".", prefix: "$" } }
                ]
            }, false);

            $grid = initJqGrid("#grid_list", {
                height: 320,
                multiselect: true,
                url: "/Inventory/GetProductInfos",
                colModel: [
                    { name: 'Id', hidden: true },
                    { name: 'Name', label: "Name", width: 180 },
                    { name: 'BarCode', label: "Bar code", width: 120 },
                    { name: 'Price', label: "Price", width: 100 },
                    { name: 'Unit', label: "Unit", width: 100 }
                ]
            }, false);
        });
    </script>
}
