@{
    ViewBag.Title = "InventoryTaking"; //库存盘点
    Layout = "~/Views/Inventory/_StockLayout.cshtml";
    ViewBag.SaveUrl = "/Inventory/InventoryTaking";
}
@section header{
    <div class="row">
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="WarehouseName">@this.T("Warehouse name")</label>
                <div class="col-xs-12 col-sm-9 no-padding-right">
                    <span class="block">
                        <select name="WarehouseId" id="WarehouseId">
                            <option value="0">@this.T("Warehouse")</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="EmployeeName">@this.T("Employee name")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <select name="EmployeeId" id="EmployeeId">
                            <option selected="selected" value="0">@this.T("Please select employee")</option>
                            <option value="1">小张</option>
                            <option value="2">小文</option>
                            <option value="3">小姗</option>
                            <option value="4">豆豆</option>
                            <option value="5">小红</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="BillDate">@this.T("Bill date")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input name="BillDate" class="form-control width-80 form_datetime" id="BillDate">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="BillDate"></span></b></mark>
                </div>
            </div>
        </div>
    </div>
}
@section footer{
    <div class="row">
        <div class="col-xs-12 col-sm-3 no-padding-right">
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="ManualCode">@this.T("Manual code")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input name="ManualCode" class="form-control" id="ManualCode" type="text">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ManualCode"></span></b></mark>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="Remark">@this.T("Remark")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input name="Remark" class="form-control" id="Remark" type="text">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span></b></mark>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-success btn-sm" type="button" id="btn_save"> @this.T("Save") </button>
        </div>
    </div>
}
@section scripts{

    <script>
        var $grid, $grid_product;
        var formatOptions = @Html.Raw(ViewBag.formatOptions);
        $LAB.script(js("datepicker")).wait(function () {
            $("#BillDate").datepicker({ autoclose: true });
        }).script(js("jqgrid")).wait(function () {
            $grid_product = initJqGrid("#product_list", {
                cellEdit: true,
                pager: null,
                height: 'auto',
                width: $("#page-content").width(),
                datatype: 'local',
                colModel: [
                    { name: 'Id', hidden: true },
                    { name: 'Name', label: "Name", width: 180, editable: false },
                    { name: 'Unit', label: "Unit", formatter: "select", editoptions: formatOptions.unit },
                    { name: 'Specification', label: "Specification", width: 180 },
                    { name: 'Stock', label: 'Stock', editable: true, formatter: "number" },
                    { name: 'ActualStorage', label: "Actual storage", editable: true, formatter: "number" },
                    { name: 'Differences', label: "Differences", }
                ]
            }, false);

            $grid = initJqGrid("#grid_list", {
                height: 320,
                multiselect: true,
                url: "/Inventory/GetProductInfos",
                colModel: [
                    { name: 'Id', hidden: true },
                    { name: 'Name', label: "Name", width: 180 },
                    { name: 'BarCode', label: "Bar code", width: 120 },
                    { name: 'Specification', label: "Specification", width: 100 },
                    { name: 'Unit', label: "Unit", width: 100 },
                    { name: 'Stock', label: "Stock", width: 100 },
                    { name: 'Type', label: "Type", width: 100 }
                ]
            }, false);

        });

    </script>
}