@{
    ViewBag.Title = "OutStock";
    Layout = "~/Views/Inventory/_StockLayout.cshtml";
    ViewBag.SaveUrl = "/Inventory/OutStock";
}
@section header{
    <div class="row">
        <div class="col-xs-12 col-sm-4 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="OutInventoryMode">@this.T("Out inventory mode")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block" onclick="OutInventoryMode()">
                        <label style="margin:0 0 0 10px;">
                            <input name="OutInventoryMode" id="OutInventoryMode" type="radio" checked="checked" value="ShopUsing">
                            @this.T("Shop using")
                            `
                        </label>
                        <label style="margin:0 0 0 10px;">
                            <input name="OutInventoryMode" id="OutInventoryMode" type="radio" value="ProviderRefund">
                            @this.T("Provider refund")
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="ProviderName">@this.T("Provider name")</label>
                <div class="col-xs-12 col-sm-9 no-padding-right">
                    <span class="block">
                        <select name="ProviderId" disabled="disabled" class="form-control" id="ProviderId">
                            <option selected="selected" value="0">@this.T("Please select supplier")</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="WarehouseName">@this.T("Warehouse name")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <select name="WarehouseId" id="WarehouseId" e>
                            <option value="0">Warehouse</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="BillDate">@this.T("Bill date")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input name="BillDate" class="form-control width-80 form_datetime" id="BillDate" type="text">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="BillDate"></span></b></mark>
                </div>
            </div>
        </div>
    </div>
}
@section footer{
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="ProductMoney">@this.T("Product money")</label>
                <div class="col-xs-12 col-sm-9 no-padding-right">
                    <span class="block">
                        <input name="ProductMoney" class="width-80" id="ProductMoney" type="text" readonly="true" value="0">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ProductMoney"></span></b></mark>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding-right">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="EmployeeName">@this.T("Employee name")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <select name="EmployeeId" id="EmployeeId">
                            <option selected="selected" value="0">@this.T("Please select Employee")</option>
                            <option value="1">小张</option>
                            <option value="2">小文</option>
                            <option value="3">小姗</option>
                            <option value="4">豆豆</option>
                            <option value="5">小红</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="ManualCode">@this.T("Manual code")</label>
                <div class="col-xs-12 col-sm-8 no-padding-right">
                    <span class="block">
                        <input name="ManualCode" class="form-control" id="ManualCode" type="text">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ManualCode"></span></b></mark>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="form-group">
                <label class="col-xs-12 col-sm-1 control-label no-padding-right" for="Remark">@this.T("Remark")</label>
                <div class="col-xs-12 col-sm-11 no-padding-right">
                    <span class="block">
                        <input name="Remark" class="form-control" id="Remark" type="text">
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span></b></mark>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-success btn-sm" type="button" id="btn_save"> @this.T("Save") </button>
        </div>
    </div>
}
@section scripts{
    <script>
        var $grid, $grid_product;
        var formatOptions = @Html.Raw(ViewBag.formatOptions);
        $LAB.script(js("datepicker")).wait(function () {
            $("#BillDate").datepicker({ autoclose: true });
        }).script(js("jqgrid")).wait(function () {
            $grid_product = initJqGrid("#product_list", {
                cellEdit: true,
                pager: null,
                height: 'auto',
                datatype: 'local',
                colModel: [
                    { name: 'Id', hidden: true },
                    { name: 'Name', label: "Name", width: 180 },
                    { name: 'Unit', label: "Unit",  formatter: "select", editoptions: formatOptions.unit },
                    { name: 'Specification', label: "Specification", width: 180},
                    {
                        name: 'Price', label: 'Price', editable: true, formatter: "currency", formatoptions: {
                            thousandsSeparator: ",", decimalSeparator: ".", prefix: "$"
                        }
                    },
                    { name: 'Amount', label: "Amount", editable: true, formatter: "number" },
                    {
                        name: 'Money', label: "Money", editable: true, formatter: "currency", formatoptions: {
                            thousandsSeparator: ",", decimalSeparator: ".", prefix: "$"
                        }
                    }
                ]
            }, false);

            $grid = initJqGrid("#grid_list", {
                height: 320,
                multiselect: true,
                url: "/Inventory/GetWarehouseProductInfos",
                colModel: [
                   { name: 'Id', hidden: true },
                   { name: 'Price', hidden: true },
                   { name: 'Unit', hidden: true },
                   { name: 'Name', label: "Name", width: 180 },
                   { name: 'BarCode', label: "Name", width: 180 },
                   { name: 'Amount', label: "Amount" },
                   { name: 'Money', label: "Money" },
                   { name: 'Warehouse', label: "Warehouse" }
                ]
            }, false);
        });
    </script>
}
