<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    @Styles.Render("~/css/base")
    <!--[if lt IE 9]>
    @Scripts.Render("~/js/ie8")
    <script src="/scripts/jquery-1.12.0.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]>
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/swal")
    <![endif]-->
    <!--[if !IE]> -->
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/swal")
    <!-- <![endif]-->
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</head>
<body class="hold-transition skin-blue sidebar-mini @ViewBag.BodyClass">
    <div class="loading" id="loading"><img src="/content/images/loading.gif" /></div>
    @if (IsSectionDefined("header") || IsSectionDefined("footer"))
    {
        <div class="wrapper">
            @if (IsSectionDefined("header"))
            {
                @RenderSection("header", required: false)
            }
            @if (ViewBag.ShowLeftSide != false)
            {
                @Html.Partial("_LeftSide")
            }
            @if (ViewBag.ShowRightSide != false)
            {
                @Html.Action("RightSide", "home")
            }
            <div class="content-wrapper">
                @RenderBody()
            </div>
            @if (IsSectionDefined("footer"))
            {
                @RenderSection("footer", required: false)
            }
        </div>
    }
    else {
        @RenderBody()
    }@Scripts.Render("~/js/base")
    @RenderSection("scripts", required: false)
</body>
</html>