@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    @RenderSection("head", required: false)
}
@if (IsSectionDefined("navbar"))
{
    @RenderSection("navbar", required: true)
}
else {
    @Html.Partial("_navbar")
}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>
    @if (IsSectionDefined("sidebar"))
    {
        @RenderSection("sidebar", required: false)
    }
    else {
        <div id="sidebar"></div>
    }
    <div class="main-content">
        <div class="main-content-inner">
            @RenderSection("breadcrumb", required: false)
            <div class="page-content">
                @Html.Partial("_settingsBox")
                @RenderBody()
            </div>
        </div>
    </div>
    @*<div class="footer">
            @Html.Partial("_footer")
        </div>*@
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
    @section scripts{
        @RenderSection("scripts", required: false)
    }
</div>