@{
    Layout = null;
}
@RenderSection("head", required: false)
@RenderSection("navbar", required: false)
@if (IsSectionDefined("breadcrumb"))
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script>try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }</script>
        @RenderSection("breadcrumb", required: false)
    </div>
}
<div class="page-content">
    @RenderBody()
</div>
@RenderSection("scripts", required: false)
