@model YQ.Cashier.Domain.DTOs.OpenCardModel
@{
    ViewBag.Title = "Open Card";
}
<div class="modal fade" id="opencardmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="opencard-modalcontent">
            <div class="modal-header">
                <ul class="steps">
                    <li data-step="1" class="active">
                        <span class="step">1</span>
                        <span class="title">Member information</span>
                    </li>
                    <li data-step="2">
                        <span class="step">2</span>
                        <span class="title">Select employees</span>
                    </li>
                    <li data-step="3">
                        <span class="step">3</span>
                        <span class="title">Settlement method</span>
                    </li>
                </ul>
            </div>
            <div class="modal-body step-content">
                <div class="step-pane active" data-step="1">
                    <form class="form-horizontal" id="openCardForm0">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-4 col-sm-4 control-label no-padding-right myrequired-" for="OpenCardMode">
                                        @this.T("Open card mode")
                                    </label>
                                    <div class="col-xs-8 col-sm-8 no-padding-right " id="opencardmode">
                                        <div class="radio">
                                            <label>
                                                <input class="ace" name="OpenCardMode" type="radio" value="NewCard" checked="checked">
                                                <span class="lbl"> @this.T("New card")</span>
                                            </label>
                                            <label>
                                                <input class="ace" name="OpenCardMode" type="radio" value="NotCard">
                                                <span class="lbl"> @this.T("Not card")</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="OpenCardMode"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-4 col-sm-4 control-label no-padding-right myrequired" for="Name">@this.T("Name")</label>
                                    <div class="col-xs-8 col-sm-8 no-padding-right">
                                        <span class="block">
                                            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "col-xs-6 col-sm-6" })
                                            @*<input name="Name" id="Name" class="col-xs-6 col-sm-6" type="text" value="" data-val-required="Customer name field is required." data-val="true" data-val-length-max="50" data-val-length="Customer name field must be a string of maximum length of 50. ">*@

                                            @*<button type="button" id="selectmember" class="btn btn-success btn-sm col-xs-4 col-sm-4 margin-l-05em">@this.T("Old Customer")</button>
                                                <button type="button" id="deletemember" class="btn btn-danger btn-sm col-xs-4 col-sm-4 " style="display: none">@this.T("Clear")</button>*@
                                            @Html.HiddenFor(m => m.Customer.CustomerId)
                                            @*<input name="MemberId" id="MemberId" type="hidden" data-val-required="MemberId field is required" data-val="true">*@
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Customer.Name)
                                    @*<div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Name"></span></b></mark>
                                        </div>*@
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 col-sm-4 control-label no-padding-right myrequired-" for="PinYinShortCode">
                                        @this.T("Short code")
                                    </label>
                                    <div class="col-xs-8 col-sm-8 no-padding-right">
                                        @Html.TextBoxFor(m => m.Customer.ShortName, new { @class = "width-80" })
                                        @Html.ValidationMessageFor(model => model.Customer.ShortName)
                                        @*<input name="PinYinShortCode" class="width-80" id="PinYinShortCode" type="text" value="" data-val="true" data-val-length-max="50">*@
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="PinYinShortCode"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-3 col-sm-4 control-label no-padding-right myrequired-" for="Phone">@this.T("Phone")</label>
                                    <div class="col-xs-9 col-sm-8 no-padding-right">
                                        <input name="Phone" class="width-80" id="Phone" type="text" value="" data-val="true" data-val-length-max="50">
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Phone"></span></b></mark>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 col-sm-4 control-label no-padding-right myrequired-" for="Birthday">@this.T("Birthday")</label>
                                    <div class="col-xs-9 col-sm-8 no-padding-right">
                                        <input name="Birthday_Text" class="width-80" id="Birthday" type="text" value="">
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Birthday"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-3 col-sm-4 control-label no-padding-right myrequired-">@this.T("Sex")</label>
                                    <div class="radio col-xs-9 col-sm-8 no-padding-right">
                                        <label>
                                            <input class="ace" name="Sex" id="Sex" type="radio" checked="checked" value="Woman">
                                            <span class="lbl"> @this.T("Female")</span>
                                        </label>
                                        <label>
                                            <input class="ace" name="Sex" id="Sex" type="radio" value="Man">
                                            <span class="lbl"> @this.T("Male")</span>
                                        </label>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Sex"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired">@this.T("Channel type")</label>
                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                        <select name="ChannelId" id="ChannelId" data-val="true">
                                            <option value="0">Golden card</option>
                                            <option value="1">Diamond card</option>
                                        </select>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CardCategoryId"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="moreinfo">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired-" for="CardCode">@this.T("Card number")</label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <input name="CardCode" class="width-80" id="CardCode" type="text" value="" data-val="true" data-val-length-max="50">
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CardCode"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired">@this.T("Card type")</label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <select name="CardCategoryId" id="CardCategoryId" data-val="true">
                                                <option value="0">Golden card</option>
                                                <option value="1">Diamond card</option>
                                            </select>
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CardCategoryId"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired-" for="Password">@this.T("Password")</label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <input name="Password" class="width-80" id="Password" type="password" value="" data-val="true" data-val-length-max="50">
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Password"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired-" id="FastMoneyLabel" for="FastMoney">
                                            @this.T("Paid in amount")
                                        </label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <input name="FastMoney" class="width-80" id="FastMoney" onchange="moneyChange(event);" type="text" value="0" data-val="true" data-val-required="实收金额 字段是必需的。" data-val-number="字段 实收金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="实收金额不能小于0">
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="FastMoney"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired-" for="ConfirmPassword">@this.T("Confirm Password")</label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <input name="ConfirmPassword" class="width-80" id="ConfirmPassword" type="password" value="" data-val="true" data-val-equalto-other="*.Password" data-val-equalto="两次密码输入不一致">
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ConfirmPassword"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired-" id="DonateMoneyLabal" for="DonateMoney">
                                            @this.T("Donate money")
                                        </label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <input name="DonateMoney" class="width-80" id="DonateMoney" type="text" value="" data-val="true" data-val-number="字段 赠送金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="赠送金额不能小于0">
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="DonateMoney"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired-" for="CardRemark">@this.T("Remark")</label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <input name="CardRemark" class="width-80" id="CardRemark" type="text" value="" data-val="true" data-val-length-max="100" data-val-length="字段 卡备注 必须是最大长度为 100 的字符串。">
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CardRemark"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 no-padding-right">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="Remark">@this.T("Remark")</label>
                                        <div class="col-xs-12 col-sm-8 no-padding-right">
                                            <span class="block">
                                                <input name="Remark" class="width-80" id="Remark" type="text" value="" data-val="true" data-val-length-max="100" data-val-length="字段 单据备注 必须是最大长度为 100 的字符串。">
                                            </span>
                                        </div>
                                        <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span></b></mark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#cardinfo_more" data-toggle="collapse">@this.T("More")</a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="cardinfo_more">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="OpenCardDate">@this.T("Open card date")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <span class="block">
                                                            <input name="OpenCardDate" class="form-control width-80 form_datetime" id="OpenCardDate" type="text" value="" data-val="true">
                                                        </span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="OpenCardDate"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="ExpiryDate">@this.T("Expiry date")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <span class="block">
                                                            <input name="ExpiryDate" class="form-control width-80 form_datetime" id="ExpiryDate" type="text" value="" data-val="true" data-val-date="字段 到期时间 必须是日期。">
                                                        </span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ExpiryDate"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="Admission">@this.T("Admission")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <span class="block">
                                                            <input name="Admission" class="width-80" id="Admission" type="text" value="" data-val="true" data-val-number="字段 入会费 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="入会费不能小于0">
                                                        </span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Admission"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="DebtMoney">@this.T("Debt money")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <span class="block">
                                                            <input name="DebtMoney" class="width-80" id="DebtMoney" type="text" value="" data-val="true" data-val-number="字段 挂账金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="挂账金额不能小于0">
                                                        </span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="DebtMoney"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="IDCardNumber">@this.T("ID card number")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <span class="block">
                                                            <input name="IDCardNumber" class="width-80" id="IDCardNumber" type="text" value="" data-val="true" data-val-length-max="100" data-val-length="字段 身份证号码 必须是最大长度为 100 的字符串。">
                                                        </span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="IDCardNumber"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="ManualCode">@this.T("Manual code")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <span class="block">
                                                            <input name="ManualCode" class="width-80" id="ManualCode" type="text" value="" data-val="true" data-val-length-max="50" data-val-length="字段 流水单号 必须是最大长度为 50 的字符串。">
                                                        </span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ManualCode"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right" for="BillDate">@this.T("Bill date")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <span class="block">
                                                            <input name="BillDate" class="form-control width-80  form_datetime" id="BillDate" type="text" value="@DateTime.Today.ToShortDateString()" data-val-required="单据日期 字段是必需的。" data-val="true" data-val-date="字段 单据日期 必须是日期。">
                                                        </span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="BillDate"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-4 control-label no-padding-right myrequired-" for="IntroducerName">@this.T("Introducer")</label>
                                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                                        <input name="IntroducerName" class="width-45" id="IntroducerName" type="text" value="">
                                                        <input name="IntroducerId" id="IntroducerId" type="hidden" data-val-required="介绍人 字段是必需的。" data-val="true">
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-8 col-sm-offset-4 inline">
                                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="IntroducerId"></span></b></mark>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="step-pane" data-step="2">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-user"></span>办卡员工列表</h3>
                        </div>
                        <form id="openCardForm1" action="/OpenCard/Employee" method="post" data-ajax-update="#modal-step2" data-ajax-mode="replace" data-ajax="true">
                            <input name="__RequestVerificationToken" type="hidden" value="4q-mlJWSi79nxXgM-YEvs9lAF9VsVskTfvqZ9ne2sktdlgQa2ziqyM127PG1dHTMv77cDdrE7XZr9hzPpy7tIMks7RPsGbKvF-NgbSLt9qc1">        <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>职位</th>
                                            <th>业绩</th>
                                            <th>提成</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="openCardEmpList">
                                        <tr class="info">
                                            <td>
                                                <div class="action-buttons">
                                                    小红
                                                    <input name="empList[0].EmpName" id="empList_0__EmpName" type="hidden" value="小红">
                                                    <input name="empList[0].EmpId" id="empList_0__EmpId" type="hidden" value="3d3211c6-3b30-4b7a-8a14-a5e000dda19c">
                                                </div>
                                            </td>
                                            <td>
                                                发型师
                                                <input name="empList[0].JobId" id="empList_0__JobId" type="hidden" value="b223d9de-af99-4580-9a17-a5e000dda198">
                                            </td>
                                            <td>
                                                <label class="label label-lg label-primary arrowed-right">业绩率</label>
                                                <input name="empList[0].PerformanceRate" class="input-mini ConsumeList-input empDetail no-padding" id="empList_0__PerformanceRate" onchange="changeEmpRate(event,0,2000,0,3)" type="number" min="0" max="100" step="1" pattern="[0-9]" value="100">            <label class="label label-lg label-primary arrowed-right">业绩</label>
                                                <input name="empList[0].PerformanceMoney" class="input-mini ConsumeList-input empDetail no-padding" id="empList_0__PerformanceMoney" onkeyup="changeEmpMoney(event,3)" onchange="changeEmpMoney(event,3)" type="number" min="0" step="0.01" pattern="[0-9]" value="2000">        <input name="empList[0].PerformanceBase" id="empList_0__PerformanceBase" type="hidden" value="2000">
                                                <input name="empList[0].PerformanceCost" id="empList_0__PerformanceCost" type="hidden" value="0">
                                                <input name="empList[0].PerformanceId" id="empList_0__PerformanceId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="empList[0].PerformanceExId" id="empList_0__PerformanceExId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                            </td>
                                            <td>
                                                <label class="label label-lg label-pink arrowed-right">提成率</label>
                                                <input name="empList[0].CommissionRate" class="input-mini ConsumeList-input empDetail no-padding" id="empList_0__CommissionRate" onchange="changeEmpRate(event,1,2000,0,3)" type="number" min="0" max="100" step="1" pattern="[0-9]" value="">            <label class="label label-lg label-pink arrowed-right">提成</label>
                                                <input name="empList[0].CommissionMoney" class="empDetail ConsumeList-input input-mini no-padding" id="empList_0__CommissionMoney" type="number" min="0" step="0.01" pattern="[0-9]" value="0">        <input name="empList[0].CommissionBaseMode" id="empList_0__CommissionBaseMode" type="hidden" value="Performance">
                                                <input name="empList[0].CommissionBase" id="empList_0__CommissionBase" type="hidden" value="2000">
                                                <input name="empList[0].CommissionCost" id="empList_0__CommissionCost" type="hidden" value="0">
                                                <input name="empList[0].CommissionId" id="empList_0__CommissionId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="empList[0].CommissionExId" id="empList_0__CommissionExId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                            </td>
                                            <td class="text-right">
                                                <button class="btn btn-danger btn-xs" onclick="removeCardEmp(0,'/OpenCard/RemoveEmp?index=0')" type="button"><span class="glyphicon glyphicon-trash"></span>删除</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="step-pane" data-step="3">
                    <form id="openCardForm2" action="/OpenCard/Checkout" method="post" data-ajax-update="#modal-step3" data-ajax-mode="replace" data-ajax="true">
                        <input name="__RequestVerificationToken" type="hidden" value="xna3zx7CMP8-D3HbzPBTLeQbP90M3eA0R_pkBO5u1ZVJsoap-eybBsumJ1M_g4pN2ePWW-McmYDy_XhQ7zxij6Ss90WvIgb8lZ6tp6_R5Yc1">    <div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group has-success">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right">充值金额</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input class="width-80" type="number" readonly="true" min="0" value="2200">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group has-error">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right">应收金额</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input class="width-80" type="text" readonly="true" value="2000">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr hr-dotted"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right">现金</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="payments[0].FactMoney" class="width-45" id="payments_0__FactMoney" onblur="PaymentNull(this)" onchange="cashChangeMoney(event,2000)" type="number" min="0" step="0.01" pattern="[0-9]" value="2000">                    <span class="label label-xlg label-primary arrowed">
                                                找零:
                                                <span class="badge badge-danger" id="changeMoneyText">0.00</span>
                                            </span>
                                            <input name="payments[0].ChangeMoney" id="payments_0__ChangeMoney" type="hidden" value="0">
                                        </span>
                                    </div>
                                </div>
                                <input name="payments[0].PaymentTermId" id="payments_0__PaymentTermId" type="hidden" value="117393">
                                <input name="payments[0].PaymentType" id="payments_0__PaymentType" type="hidden" value="Cash">
                                <input name="payments[0].MemberAccountId" id="payments_0__MemberAccountId" type="hidden" value="">
                                <input name="payments[0].IsAdmission" id="payments_0__IsAdmission" type="hidden" value="False">
                                <input name="payments[0].IsWeiPay" id="payments_0__IsWeiPay" type="hidden" value="False">
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right">挂账</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="payments[1].FactMoney" class="width-80 PaymentMoney" id="payments_1__FactMoney" onblur="PaymentNull(this)" type="number" min="0" step="0.01" pattern="[0-9]" value="0">
                                        </span>
                                    </div>
                                </div>
                                <input name="payments[1].PaymentTermId" id="payments_1__PaymentTermId" type="hidden" value="117396">
                                <input name="payments[1].PaymentType" id="payments_1__PaymentType" type="hidden" value="Debt">
                                <input name="payments[1].MemberAccountId" id="payments_1__MemberAccountId" type="hidden" value="">
                                <input name="payments[1].IsAdmission" id="payments_1__IsAdmission" type="hidden" value="False">
                                <input name="payments[1].IsWeiPay" id="payments_1__IsWeiPay" type="hidden" value="False">
                            </div>
                        </div><div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right">银行卡</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="payments[2].FactMoney" class="width-80 PaymentMoney" id="payments_2__FactMoney" onblur="PaymentNull(this)" type="number" min="0" step="0.01" pattern="[0-9]" value="0">
                                        </span>
                                    </div>
                                </div>
                                <input name="payments[2].PaymentTermId" id="payments_2__PaymentTermId" type="hidden" value="117398">
                                <input name="payments[2].PaymentType" id="payments_2__PaymentType" type="hidden" value="BankCard">
                                <input name="payments[2].MemberAccountId" id="payments_2__MemberAccountId" type="hidden" value="">
                                <input name="payments[2].IsAdmission" id="payments_2__IsAdmission" type="hidden" value="False">
                                <input name="payments[2].IsWeiPay" id="payments_2__IsWeiPay" type="hidden" value="False">
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right">免单</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="payments[3].FactMoney" class="width-80 PaymentMoney" id="payments_3__FactMoney" onblur="PaymentNull(this)" type="number" min="0" step="0.01" pattern="[0-9]" value="0">
                                        </span>
                                    </div>
                                </div>
                                <input name="payments[3].PaymentTermId" id="payments_3__PaymentTermId" type="hidden" value="117399">
                                <input name="payments[3].PaymentType" id="payments_3__PaymentType" type="hidden" value="Free">
                                <input name="payments[3].MemberAccountId" id="payments_3__MemberAccountId" type="hidden" value="">
                                <input name="payments[3].IsAdmission" id="payments_3__IsAdmission" type="hidden" value="False">
                                <input name="payments[3].IsWeiPay" id="payments_3__IsWeiPay" type="hidden" value="False">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer wizard-actions">
            <button class="btn btn-sm btn-prev">
                <i class="ace-icon fa fa-arrow-left"></i> Prev
            </button>
            <button class="btn btn-success btn-sm btn-next" data-last="Finish">
                Next <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
            </button>
            <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                <i class="ace-icon fa fa-times"></i> Cancel
            </button>
        </div>
    </div>
</div>

@*<div class="modal fade mymodal" id="customersmodal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="customers-modalcontent">
                @Html.Partial("customers")
            </div>
        </div>
    </div>*@
<script type="text/javascript">
    $LAB.script(js("wizard", "datepicker", "validate")).wait(function () {
        //$("#selectmember").on("click", function () { $("#selectmember").modal("show"); })
        $("#opencardmode").on("click", function () {
            var OpenCardMode_val = $("input[name=OpenCardMode]:checked").val();
            switch (OpenCardMode_val) {
                case "NewCard":
                    $("#moreinfo").show();
                    $("#selectmember").show();
                    //$("#FastMoneyLabel").html("实收余额");
                    //$("#DonateMoneyLabal").html("赠送金额");
                    break;
                case "OldCard":
                    $("#moreinfo").show();
                    $("#selectmember").show();
                    //$("#FastMoneyLabel").html("老卡余额");
                    //$("#DonateMoneyLabal").html("老卡赠送");
                    break;
                case "NotCard":
                    $("#moreinfo").hide();
                    $("#selectmember").hide();
                    $("#deletemember").click();
                    break;
            }
        });

        $('#opencard-modalcontent').ace_wizard({
            //options
        }).on('actionclicked.fu.wizard', function (e, info) {
            if (info.step == 1) {

                var OpenCardMode_val = $("input[name=OpenCardMode]:checked").val();
                switch (OpenCardMode_val) {
                    case "NotCard":
                        e.preventDefault(); //禁止跳转下一步
                        var va = validateForm("openCardForm0"); //验证数据
                        var customer = $("#openCardForm0").serialize();
                        if (va) {
                            $.post("/member/saveCustomer", customer, function (ret) {
                                if (!ret) {
                                    
                                }
                            })
                        }
                        break;
                }
            }
        }).on('finished.fu.wizard', function (e) {
            //swal("Thank you! Your information was successfully saved!");
        }).on('stepclick.fu.wizard', function (e) {
            //e.preventDefault();//阻止点击和选择步骤
        });

    });
</script>
