@{
    ViewBag.Title = "Payment";
}
<style>
    .mywell { position: fixed; bottom: 0; right: 20px; left: 196px; z-index: 15; margin-bottom: 0; }
    .ui-jqgrid .ui-search-table .ui-search-input > input { height: 26px; border-radius: 5px; border: 0; border-bottom: 1px solid #ff6a00; background-color: transparent; }
    .tab-content .ui-jqgrid tr.jqgrow > td { cursor: pointer !important; }
</style>
<div class="space-2"></div>
<div class="row">
    <form class="form-horizontal" id="form1">
        <div class="col-xs-12 page-col-xs col-sm-12">
            <div class="well well-sm no-margin-bottom">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input class="form-control search-query" name="txtSearchCard" id="txtSearchCard" type="text" placeholder="@this.T("Please swipe your card or enter the phone number, name, card number")" value="">
                            <span class="input-group-btn">
                                <button class="btn btn-purple btn-sm" type="button" id="btnSwipe">
                                    @this.T("Swipe") <i class="fa fa-credit-card icon-on-right bigger-110"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" type="button" id="btnSearch">
                                    @this.T("Search") <i class="fa fa-search icon-on-right bigger-110"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-2"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="widget-box transparent">
                        <div class="widget-header">
                            <h4 class="widget-title lighter">
                                <i class="green ace-icon fa fa-user bigger-120"></i> @this.T("Member information")
                            </h4>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="1 ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                            <div class="widget-toolbar no-border">
                                <a class="btn btn-white btn-primary btn-bold" id="btnOpenCard">
                                    &nbsp;<i class="fa fa-credit-card"></i> @this.T("Open Card")&nbsp;
                                </a>
                                <a class="btn btn-white btn-warning btn-bold" data-toggle="modal" data-target="#rechargemodal" data-backdrop="static">
                                    &nbsp;<i class="fa fa-plus"></i> @this.T("Recharge") &nbsp;
                                </a>
                                <a class="btn btn-white btn-success btn-bold" data-toggle="modal" data-target="#consumesmodal" data-backdrop="static">
                                    &nbsp; <i class="fa fa-list"></i> @this.T("Consume bill") &nbsp;
                                </a>
                                <div class="btn-group" style="top:-1px;">
                                    <button class="btn btn-primary btn-white dropdown-toggle btn-bold" style="padding-bottom:3px; padding-top:4px;" aria-expanded="false" data-toggle="dropdown">
                                        &nbsp;@this.T("More") <i class="ace-icon fa fa-angle-down icon-on-right"></i>&nbsp;
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/consume/repayment" data-toggle="modal" data-target="#repaymentmodal" data-backdrop="static">
                                                @this.T("Repayment")
                                            </a>
                                        </li>
                                        <li><a href="#">@this.T("Fill card")</a></li>
                                        <li><a href="#">@*@this.T("Changing the card")*@</a></li>
                                        @*<li><a href="#">@this.T("Report the loss")</a></li>
                                            <li><a href="#">@this.T("Hanging solution")</a></li>*@
                                        <li><a href="#">@this.T("Cancellation")</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Full Name")</div>
                                            <div class="profile-info-value">
                                                <span id="FullName">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Phone number")</div>
                                            <div class="profile-info-value">
                                                <span id="PhoneNumber">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Card number")</div>
                                            <div class="profile-info-value">
                                                <span id="CardNumber">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Belongs to")</div>
                                            <div class="profile-info-value">
                                                <span id="BelongsTo">
                                                    &nbsp;
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Card type")</div>
                                            <div class="profile-info-value">
                                                <span id="CardType">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Discount")</div>
                                            <div class="profile-info-value">
                                                <span id="Discount">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Card balance")</div>
                                            <div class="profile-info-value">
                                                <span id="CardBalance"><strong></strong>&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Overdraft balance")</div>
                                            <div class="profile-info-value">
                                                <span id="OverdraftBalance"><strong></strong>&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Present balance")</div>
                                            <div class="profile-info-value">
                                                <span id="PresentBalance"><strong></strong>&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Total balance")</div>
                                            <div class="profile-info-value">
                                                <span id="TotalBalance">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Channel type")</div>
                                            <div class="profile-info-value">
                                                <span id="ChannelType">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padding">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@this.T("Remarks")</div>
                                            <div class="profile-info-value">
                                                <span id="cardRemark">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-2"></div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h4 class="widget-title"><i class="fa fa-list"></i> Consumption list</h4>
                        <div class="widget-toolbar">
                            <a class="orange2" href="#" data-action="fullscreen">
                                <i class="ace-icon fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <row>
                            <div class="col-md-4">
                                <ul class="nav nav-tabs" id="tabs">
                                    <li class="active">
                                        <a aria-expanded="true" href="#tabs_1" data-toggle="tab">
                                            <i class="green ace-icon fa fa-shopping-cart bigger-120"></i> Services
                                        </a>
                                    </li>
                                    <li>
                                        <a aria-expanded="false" href="#tabs_2" data-toggle="tab">
                                            <i class="green ace-icon fa fa-university bigger-120"></i> Products
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" style="padding:0;">
                                    <div class="tab-pane fade active in" id="tabs_1">
                                        <table id="grid_service"></table>
                                        <div id="grid_service_pager"></div>
                                    </div>
                                    <div class="tab-pane fade" id="tabs_2">
                                        <table id="grid_product"></table>
                                        <div id="grid_product_pager"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8"><table id="grid_consume"></table></div>
                        </row>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-2"></div>
        <div class="row" id="paymentRow">
            <div class="col-sm-12 col-xs-12">
                <div class="well mywell">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-3 control-label no-padding-left no-padding-right">@this.T("Remarks") &nbsp;</label>
                                <div class="col-md-6 col-xs-6 no-padding">
                                    <input name="Remark" class="form-control" id="Remark" type="text" placeholder="@this.T("Please enter remarks")" value="" data-val="true" data-val-length-max="100" data-val-length="字段 单据备注 必须是最大长度为 100 的字符串。">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-5 h4">
                            <div class="clearfix">
                                <div class="grid2">
                                    <span class="grey">
                                        <i class="fa fa-yen green"></i> @this.T("Consumption")
                                        <span class="h3 bigger" id="disConsumeMoney">0.00</span>
                                    </span>
                                    <input name="ConsumeMoney" id="ConsumeMoney" type="hidden" value="0" data-val-required="消费金额 字段是必需的。" data-val="true" data-val-number="字段 消费金额 必须是一个数字。">
                                </div>
                                <div class="grid2">
                                    <span class="grey">
                                        <i class="fa fa-yen blue"></i> @this.T("Payable")
                                        <span class="bigger h3" id="disPaymentMoney">0.00</span>
                                    </span>
                                    <input name="PaymentMoney" id="PaymentMoney" type="hidden" value="0" data-val-required="支付金额 字段是必需的。" data-val="true" data-val-number="字段 支付金额 必须是一个数字。">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-3">
                            <div id="BillPaymentZone">
                                <div class="btn-group pull-right visible-md visible-lg hidden-sm hidden-xs">
                                    <button name="BillPayment" class="btn btn-success btn-lg myclose" id="BillPayment" type="submit">
                                        @this.T("Payment")
                                    </button>
                                    <button name="Save" class="btn btn-danger btn-lg ajax_btn" id="Save" type="submit">@this.T("Save")</button>
                                </div>
                                <div class="btn-group pull-right visible-xs visible-sm hidden-md hidden-lg">
                                    <button name="BillPayment" class="btn btn-success myclose" id="BillPaymentXs" type="submit">@this.T("Payment") </button>
                                    <button name="Save" class="btn btn-danger ajax_btn" id="SaveXs" type="submit">@this.T("Save")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@*@Html.Partial("opencard")*@
@Html.Partial("recharge")

<div class="modal fade mymodal" id="repaymentmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="repayment-modalcontent">
        </div>
    </div>
</div>
<div class="modal fade mymodal" id="consumesmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="consumes-modalcontent">
        </div>
    </div>
</div>
<div class="modal fade" id="opencardmodal"></div>
<div class="modal fade" id="customermodal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lbl_title"><i class="fa fa-list"></i> @this.T("Consume bills")</h4>
    </div>
    <div class="modal-body" id="consumebills">
        @Html.Action("Bill_Consume", "Cashier")
    </div>
</div>
<script>
    function add_employee() {
    }
    function del_productOtService() {
    }
    function beforeDeleteCallback(e) {
    }
    function beforeEditCallback(e) {
    }
    $LAB.script(js("jqgrid", "datepicker", "chosen")).wait(function () {
        $.fn.fmatter.myactions = function (cellval, opts) {
            var rowid = opts.rowId, str = "", ocl;
            ocl = "id='jEditButton_" + rowid + "' onclick=add_employee.call(this); onmouseover=jQuery(this).addClass('ui-state-hover'); onmouseout=jQuery(this).removeClass('ui-state-hover') ";
            str += "<div title='Add' style='float:left;cursor:pointer;' class='ui-pg-div ui-inline-edit' " + ocl + "><span class='ui-icon fa fa-user-plus'></span></div>";
            ocl = "id='jDeleteButton_" + rowid + "' onclick=del_productOtService.call(this); onmouseover=jQuery(this).addClass('ui-state-hover'); onmouseout=jQuery(this).removeClass('ui-state-hover'); ";
            str += "<div title='" + $.jgrid.nav.deltitle + "' style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' " + ocl + "><span class='ui-icon ui-icon-trash'></span></div>";
            return "<div style='margin-left:8px;'>" + str + "</div>";
        };
        function init_grid(selector, options) {
            var gridOptions = $.extend({
                mtype: 'POST',
                datatype: 'json',
                viewrecords: true,
                gridView: true,
                height: 300,
                shrinkToFit: false,
                rownumbers: true,
                rownumWidth: 29,
            }, options);
            $(selector).jqGrid('GridDestroy').jqGrid(gridOptions).jqGrid('filterToolbar', { stringResult: true });
        }
        try {
            var lastsel;
            var grid_data = [{ id: "0", Name: "Aimee", Price: "100", Number: "1", Discount: "0.9", Amount: "90" },
                { id: "1", Name: "", Price: "", Number: "", Discount: "", Amount: "" }
            ]
            var subgrid_data = [{ id: "0", Name: "Dave", PerformanceRatio: 100, Performance: 90, RoyaltyRate: 10, Royalty: 9 },
                { id: "1", Name: "", PerformanceRatio: "", Performance: "", RoyaltyRate: "", Royalty: "" }
            ]

            init_grid("#grid_service", {
                url: '/Cashier/GetServices',
                colNames: ['Name', 'Price'],
                colModel: [
                    { name: 'Name', width: 210, search: true }, { name: 'StandardPrice', width: 100, search: false }
                ], onCellSelect: function (rowid, iCol, cellcontent, e) {
                    var dataRow = {
                        Name: "",
                        Price: '',
                        Number: '',
                        Discount: '',
                        Amount: ''
                    };
                    //将新添加的行插入到第一列
                    $("#grid_consume").addRowData(0, dataRow, "last");
                }
            });
            init_grid("#grid_product", {
                url: '/Cashier/GetProducts',
                colNames: ['Name', 'Price', 'Amount'],
                colModel: [
                    { name: 'Name', width: 150 }, { name: 'Price', width: 80, search: false }, { name: 'Price', width: 80, search: false }
                ], onCellSelect: function (rowid, iCol, cellcontent, e) {
                    var dataRow = {
                        Name: "",
                        Price: '',
                        Number: '',
                        Discount: '',
                        Amount: ''
                    };
                    //将新添加的行插入到第一列
                    $("#grid_consume").addRowData(0, dataRow, "last");
                }
            });
            $("#grid_consume").jqGrid('GridDestroy').jqGrid({
                cellEdit: true,
                viewrecords: true,
                gridView: true,
                shrinkToFit: false,
                datatype: 'local',
                data: grid_data,
                height: 500,
                colNames: [' ', 'Name', 'Price', 'Number', 'Discount', 'After discount'],
                colModel: [
                    { name: 'act', width: 80, fixed: true, sortable: false, resize: false, formatter: 'myactions' },
                    { name: 'Name', width: 170, editable: true },
                    { name: 'Price', width: 80, editable: true, editrules: { number: true } },
                    { name: 'Number', width: 80, editable: true, editrules: { number: true } },
                    { name: 'Discount', width: 80, editable: true, editrules: { number: true } },
                    { name: 'Amount', editable: true, editrules: { number: true } }
                ],
                subGrid: true,
                subGridOptions:
                {
                    plusicon: "ace-icon fa fa-plus center bigger-110 blue",
                    minusicon: "ace-icon fa fa-minus center bigger-110 blue",
                    openicon: "ace-icon fa fa-chevron-right center orange"
                },
                subGridRowExpanded: function (subgridDivId, rowId) {
                    var subgridTableId = subgridDivId + "_t";
                    $("#" + subgridDivId).html('<table id="' + subgridTableId + '"></table>\
<button class="btn btn-xs no-border" type="button" id="btnSearch"><i class="ace-icon icon-only fa fa-plus"></i> Add Employee</button>');
                    $("#" + subgridTableId).jqGrid({
                        datatype: 'local',
                        data: subgrid_data,
                        cellEdit: true,
                        colNames: ['No', 'Name', 'PerformanceRatio', 'Performance', 'RoyaltyRate', 'Royalty'],
                        colModel: [
                            { name: 'id' },
                            { name: 'Name', width: 200 },
                            { name: 'PerformanceRatio', width: 80, editable: true, editrules: { number: true } },
                            { name: 'Performance', width: 80, editable: true, editrules: { number: true } },
                            { name: 'RoyaltyRate', width: 80, editable: true, editrules: { number: true } },
                            { name: 'Royalty', width: 80, editable: true, editrules: { number: true } },
                        ]
                    });
                },
                afterEditCell: function (rowid, cellname, value, iRow, iCol) {
                    //currentRowId = rowid;
                    //var grid = $("#mygrid");
                    //var rowData = grid.getRowData(rowid);
                    //// 设置编辑单元格
                    //var id = iRow + "_" + cellname;
                    //var ipt = $("#" + id);
                    //$("#" + id).chosen();
                },
                onSelectRow: function (id) {
                    if (id && id !== lastsel) {
                        $('#mygrid').jqGrid('restoreRow', lastsel)
                            .jqGrid('editRow', id, true);
                        lastsel = id;
                    }
                },
                loadComplete: function () {
                    var $grid = jQuery(this);
                    //var ids = $grid.jqGrid('getDataIDs');
                    //for (var i = 0; i < ids.length; i++) {
                    //    //var ind = $(this).jqGrid('getGridRowById', ids[i]);
                    //    //$("td[role='gridcell']:eq(1)", ind).html($("#actionsTmpl").html());
                    //    $grid.jqGrid('setRowData', ids[i], { act: $("#actionsTmpl").html() });
                    //}
                    //$(".ui-jqgrid-bdiv>div", $grid).append('<button class="btn btn-xs btn-success no-border" type="button" id="btnAddPS"><i class="ace-icon icon-only fa fa-plus"></i> Add</button>');
                    //$("#btnAddPS").on("click",function () {

                    //});
                },
            });
        } catch (e) {
            alert(e.message)
        }
    });
    $("#btnOpenCard").on("click", function () {
        $("#opencardmodal").load('@Url.Action("payment_opencard","cashier")');
        $("#opencardmodal").modal({ backdrop: 'static', show: true });
    });
    $("#btnSearch").on("click", function () {
        $("#customermodal").load('@Url.Action("payment_customers","cashier")');
        $("#customermodal").modal({ backdrop: 'static', show: true });
    });
</script>